.navigation{
    background-color: #181a1d;
    border-bottom: 2px solid #2f343a;
    height : 70px;
    width : 100%;
    display : flex;
    align-items: center;
}
.mainNav{
    display : flex;
    justify-content: flex-end;
    width : 100%;
}
.logo{
    color: white;
    padding: 15px;
    height : 70px;
}

.navitem{
    color : rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding : 15px;
    height : 70px;
}