.playerMain{
    background-color: beige;
    text-align: center;
}
.playerSecond{
    background-color: rgb(53, 104, 124) ;
    width : 1280px;
    margin : 0px;
    height : 40px;
    color : white;
    display : flex;
    justify-content: center;
    align-items: center;
    
}